@media only screen and (min-width:801px) and (max-width:1059px) {
    body,
    html {
        overflow-x: hidden;
    }
    #home::before {
        height: 574px;
        top: 68px;
    }
    #home {
        height: 581px;
    }
    .program {
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
    }
    .program-item {
        margin: 23px auto;
    }
    #course-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 8px;
        margin: 20px;
        height: auto;
    }
    .item {
        margin: 23px 0px;
    }
    .service-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .event-date {
        width: 17%;
    }
    .college-fest {
        padding: 4px;
        border: 1px solid #a59d9d;
        margin: 1px 10px 10px 10px;
    }
}