@media only screen and (max-width:360px) {
    body,
    html {
        overflow-x: hidden;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .student-login ul {
        margin-top: -61px;
        display: flex;
        justify-content: center;
    }
    .student-login ul li a {
        margin: 0px 12px;
    }
    #home {
        height: 320px;
    }
    #home::before {
        height: 320px;
        top: 148px;
    }
    #home h3 {
        font-size: 24px;
        margin-bottom: 48px;
    }
    #about-program {
        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    .program {
        display: flex;
        flex-direction: column;
    }
    .program-item {
        margin: 23px auto;
        width: 300px;
    }
    #course-item {
        display: flex;
        flex-direction: column;
        margin-top: 42px;
        height: auto;
    }
    .item {
        margin: 21px auto;
        width: 90%;
    }
    .item h3 {
        margin-left: 40px;
    }
    .item .para {
        margin-left: 40px;
    }
    #register {
        height: 312px;
        margin-top: 32px;
    }
    .register-content p {
        width: 92%;
        font-size: 11px;
    }
    .btn {
        margin: 18px 33%;
    }
    #search {
        height: 318px;
    }
    #search::before {
        height: 318px;
    }
    .details input {
        width: 283px;
    }
    .btn1 {
        padding: 5px 94px;
    }
    #our-services {
        height: 954px;
        margin-top: 54px;
    }
    .service-items {
        display: flex;
        flex-direction: column;
        margin: 42px 20px;
    }
    .service-courses {
        margin-top: 8px;
    }
    .service-courses p {
        width: 263px;
        font-size: 10px;
    }
    #student-topic {
        height: 550px;
    }
    .students-lines h2 {
        margin: 67px auto 52px;
    }
    .students-lines p {
        width: 79%;
        font-size: 10px;
        margin: -24px auto;
    }
    .students-lines img {
        display: none;
    }
    .students-lines h4 {
        margin: 66px auto 0px;
    }
    .students-lines h5 {
        margin: 2px;
    }
    .events {
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }
    .college-fest {
        margin: 10px;
        padding: 4px;
        border: 1px solid #a59d9d;
    }
    .college-fest img {
        width: 84%;
    }
    .event-date {
        width: 24%;
    }
    .event-topic h4,
    h5 {
        margin: 3px 0px 2px 0px;
    }
    .event-topic h6 {
        width: 88%;
    }
    .footer-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        margin-left: 20px;
    }
    hr {
        display: none;
    }
}